# git files
.git*

# build files
tmp*
latin

# out files
out
fonts
misc
Round-Dots
Vazirharf-font-face.css
vazirharf-v*.zip

# package files
DESCRIPTION*
package.json

# website files
website

# docker files
Dockerfile
.dockerignore
