# git files
.git*

# out files and directories
fonts
misc
Round-Dots
Vazirharf-font-face.css
vazirharf-v*.zip
out

# package files
DESCRIPTION*
package.json

# website files
website

# docker files
Dockerfile
.dockerignore
